<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let element"> {{element?.cdFndo}} </td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element?.nomeFndo}} </td>
  </ng-container>

  <ng-container matColumnDef="risco">
    <th mat-header-cell *matHeaderCellDef> Risco </th>
    <td mat-cell *matCellDef="let element"> {{element?.nomeRisco}} </td>
  </ng-container>

  <ng-container matColumnDef="dp">
    <th mat-header-cell *matHeaderCellDef> Desvio Padrão %</th>
    <td mat-cell *matCellDef="let element"> {{element?.desvioPadrao * 100| number:'1.0-2'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
